.checkBox {
  max-width: 570px;
  display: flex;
  align-items: center;
  z-index: 100;
  margin-bottom: 14px;
}

.button {
  position: relative;
  display: block;
  height: 32px;
  width: 32px;
  border: 1px solid #606566;
  cursor: pointer;
  border-radius: 4px;
}
.button:before,
.button:after {
  content: "";
  position: absolute;
  transition: all 0.15s ease-in-out;
  border-radius: 1px;
}
.button:before {
  width: 12px;
  height: 1px;
  top: 18px;
  left: 3px;
  rotate: 50deg;
}

.button::after {
  width: 20px;
  height: 1px;
  top: 15px;
  left: 9px;
  rotate: -50deg;
}

.button:hover:before,
.button:hover:after {
  background-color: #606566;
  background-size: contain;
}

.active.checkBox .button:before,
.active.checkBox .button:after {
  background-color: #fdb056;
}
