.container {
  display: flex;
  background-color: #2d3233;
}

.transparent {
  background-color: transparent;
  border: 1px solid #484d4e;
}

.vertical {
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
}

.medium {
  border-radius: 20px;
  gap: 8px;
  padding: 20px 18px;
  max-width: 555px;
}

.large {
  display: grid;
  gap: 30px;
  border-radius: 30px;
  padding: 20px;
  max-width: 100%;
}
